# Analysis and Visualization of EV Charging Infrastructure

## Environment Setup

In [2]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Set the matplotlib style to 'ggplot' for better visualization
plt.style.use('ggplot')

# Import utility libraries
import os
import time

# Configure pandas options
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

## Import of EV Charging Station Data

In [3]:
# Define a dictionary to map state abbreviations to full names
state_abbreviations = {
    'AL': 'Alabama',
    'AK': 'Alaska',
    'AZ': 'Arizona',
    'AR': 'Arkansas',
    'CA': 'California',
    'CO': 'Colorado',
    'CT': 'Connecticut',
    'DE': 'Delaware',
    'FL': 'Florida',
    'GA': 'Georgia',
    'HI': 'Hawaii',
    'ID': 'Idaho',
    'IL': 'Illinois',
    'IN': 'Indiana',
    'IA': 'Iowa',
    'KS': 'Kansas',
    'KY': 'Kentucky',
    'LA': 'Louisiana',
    'ME': 'Maine',
    'MD': 'Maryland',
    'MA': 'Massachusetts',
    'MI': 'Michigan',
    'MN': 'Minnesota',
    'MS': 'Mississippi',
    'MO': 'Missouri',
    'MT': 'Montana',
    'NE': 'Nebraska',
    'NV': 'Nevada',
    'NH': 'New Hampshire',
    'NJ': 'New Jersey',
    'NM': 'New Mexico',
    'NY': 'New York',
    'NC': 'North Carolina',
    'ND': 'North Dakota',
    'OH': 'Ohio',
    'OK': 'Oklahoma',
    'OR': 'Oregon',
    'PA': 'Pennsylvania',
    'RI': 'Rhode Island',
    'SC': 'South Carolina',
    'SD': 'South Dakota',
    'TN': 'Tennessee',
    'TX': 'Texas',
    'UT': 'Utah',
    'VT': 'Vermont',
    'VA': 'Virginia',
    'WA': 'Washington',
    'WV': 'West Virginia',
    'WI': 'Wisconsin',
    'WY': 'Wyoming'
}

In [4]:
# Define the columns to keep and their data types
useful_columns = [
    'Station Name', 'Street Address', 'State', 'Country', 'Status Code', 
    'Latitude', 'Longitude', 'EV Level1 EVSE Num', 'EV Level2 EVSE Num',
    'EV DC Fast Count', 'EV Network', 'Date Last Confirmed', 
    'Owner Type Code', 'Open Date', 'EV Connector Types', 
    'EV On-Site Renewable Source'
]

# Load the CSV with only the necessary columns and data types
dtypes = {'EV On-Site Renewable Source': 'category'}
date_columns = ['Date Last Confirmed', 'Open Date']
category_columns = ['EV Network', 'Owner Type Code', 'EV Connector Types', 'Status Code', 'Country', 'State']

charging_stations = pd.read_csv('ev_charging_stations_230830.csv', usecols=useful_columns, dtype=dtypes)

# Convert data types
charging_stations[date_columns] = charging_stations[date_columns].apply(pd.to_datetime)
charging_stations[category_columns] = charging_stations[category_columns].astype('category')

# Rename columns using a dictionary
column_mapping = {
    'Station Name': 'Station_Name', 
    'Street Address': 'Street_Address',
    'Status Code': 'Status_Code', 
    'EV Level1 EVSE Num': 'EV_L1', 
    'EV Level2 EVSE Num': 'EV_L2',
    'EV DC Fast Count': 'EV_Fast', 
    'EV Network': 'Network',
    'Date Last Confirmed': 'Date_Last_Confirmed',
    'Owner Type Code': 'Owner_Type_Code',
    'Open Date': 'Open_Date',
    'EV Connector Types': 'EV_Connector_Types',
    'EV On-Site Renewable Source': 'On_Site_Renewable_Source'
}

charging_stations.rename(columns=column_mapping, inplace=True)

# Filter for rows where 'Country' is 'US'
charging_stations = charging_stations[charging_stations['Country'] == 'US']

# Map state abbreviations to full names
charging_stations['State'] = charging_stations['State'].replace(state_abbreviations)

charging_stations.head()

,Station_Name,Street_Address,State,Status_Code,EV_L1,EV_L2,EV_Fast,Network,Latitude,Longitude,Date_Last_Confirmed,Owner_Type_Code,Open_Date,EV_Connector_Types,Country,On_Site_Renewable_Source
0,Los Angeles Convention Center,1201 S Figueroa St,California,E,NaN,7.0,NaN,Non-Networked,34.040539,-118.271387,2023-01-10,P,1995-08-30,J1772,US,NaN
1,California Air Resources Board,9530 Telstar Ave,California,E,NaN,3.0,NaN,Non-Networked,34.068720,-118.064000,2022-09-14,SG,1996-10-15,J1772,US,NaN
2,Scripps Green Hospital,10666 N Torrey Pines Rd,California,E,NaN,1.0,NaN,Non-Networked,32.899470,-117.243000,2023-01-10,P,1997-07-30,J1772,US,NaN
3,Galpin Motors,15421 Roscoe Blvd,California,E,NaN,2.0,NaN,Non-Networked,34.221665,-118.468371,2023-08-10,P,2012-12-11,J1772,US,NaN
4,Galleria at Tyler,1299 Galleria at Tyler,California,E,NaN,4.0,NaN,Non-Networked,33.909914,-117.459053,2020-02-06,P,1997-08-30,J1772,US,NaN

## Import of EV Registartaion Data

In [5]:
# Read the Excel file and store the data from each sheet in a list of DataFrames
excel_file = pd.ExcelFile('vehicle_registrations.xlsx')
data_frames = [excel_file.parse(sheet, usecols=['State', 'Electric (EV)']) for sheet in excel_file.sheet_names]

# Merge all DataFrames in the list on the 'State' column
registrations = data_frames[0]

for i, df in enumerate(data_frames[1:], start=1):
    suffix = f'_Registration_{excel_file.sheet_names[i]}'
    registrations = pd.merge(registrations, df, on='State', how='left', suffixes=('', suffix))

# Rename columns except the first one
years = [sheet for sheet in excel_file.sheet_names]
new_column_names = [f'EV_Registration_{year}' for year in years]
registrations.columns = ['State'] + new_column_names

# Strip leading/trailing white spaces in the 'State' column
registrations['State'] = registrations['State'].str.strip()

registrations.head()

,State,EV_Registration_2022,EV_Registration_2021,EV_Registration_2020,EV_Registration_2019,EV_Registration_2018,EV_Registration_2017,EV_Registration_2016
0,Alabama,8700,4700,2900,2000,1300,800,500
1,Alaska,2000,1300,900,700,500,400,200
2,Arizona,65800,40700,28800,19500,12600,7200,4700
3,Arkansas,5100,2400,1300,900,600,300,200
4,California,903600,563100,425300,349700,273500,189700,141500

## Import of Gas Price Data (by Year)

In [6]:
# Read the Excel file and filter the data in one step
gas_price_years = pd.read_excel('gas_price_by_year.xlsx', usecols=['Year', 'Gasoline Price (2021 $/gallon)'])

# Rename the 'Gasoline Price (2021 $/gallon)' column to 'Price'
gas_price_years.rename(columns={'Gasoline Price (2021 $/gallon)': 'Price'}, inplace=True)

# Filter the data for years greater than or equal to 2016
gas_price_years = gas_price_years[gas_price_years['Year'] >= 2016].reset_index(drop=True)

# Display the first few rows
gas_price_years.head()

   Year    Price
0  2016  2.44188
1  2017  2.67288
2  2018  2.73500
3  2019  2.82480
4  2020  2.25680

## Import of Gas Price Data (by State)

In [7]:
# Read the Excel file and select columns, while also cleaning the data
gas_price_states = pd.read_excel('gas_price_by_state.xlsx', usecols=['State', 'Regular'])

# Clean the 'Regular' column by removing the dollar sign and converting to float
gas_price_states['Regular'] = gas_price_states['Regular'].str.strip('$').astype(float)

# Clean the 'State' column by stripping any leading/trailing white spaces
gas_price_states['State'] = gas_price_states['State'].str.strip()

# Display the first few rows
gas_price_states.head()

        State  Regular
0      Alaska    4.370
1     Alabama    3.087
2    Arkansas    3.138
3     Arizona    4.191
4  California    5.443

## Import of National Park Visitor Numbers

In [8]:
useful_columns = ['Park_Name', 'State', 'Visits_2013', 'Visits_2014', 'Visits_2015', 'Visits_2016',
                  'Visits_2017', 'Visits_2018', 'Visits_2019', 'Visits_2020', 'Visits_2021', 'Visits_2022',
                  'Visits_Average', 'Latitude', 'Longitude', 'Area_(Acres)', 'Area_(km2)']

# Read the Excel file and select the useful columns
np_info = pd.read_excel('annual_visitation_by_park.xlsx', usecols=useful_columns)

# Convert the 'State' column to a category data type
np_info['State'] = np_info['State'].astype('category')

# Display the first few rows
np_info.head()

,Park_Name,State,Visits_2013,Visits_2014,Visits_2015,Visits_2016,Visits_2017,Visits_2018,Visits_2019,Visits_2020,Visits_2021,Visits_2022,Visits_Average,Latitude,Longitude,Area_(Acres),Area_(km2)
0,Acadia National Park,Maine,2254922,2563129,2811184,3303393,3509271,3537575,3437286,2669034,4069098,3970260,3212515.2,44.35,-68.21,49075.26,198.6
1,Arches National Park,Utah,1082866,1284767,1399247,1585718,1539028,1663557,1659702,1238083,1806865,1460652,1472048.5,38.68,-109.57,76678.98,310.3
2,Badlands National Park,South Dakota,892372,868094,989354,996263,1054325,1008942,970998,916932,1224226,1006809,992831.5,43.75,-102.50,242755.94,982.4
3,Big Bend National Park,Texas,316953,314102,381747,388290,440276,440091,463832,393907,581220,514107,423452.5,29.25,-103.25,801163.21,3242.2
4,Biscayne National Park,Florida,486848,525745,508164,514709,446961,469253,708522,402770,705655,701023,546965.0,25.65,-80.08,172971.11,700.0

## EDA

### Correlation between EV Registrations and Gas Prices by Year

In [9]:
# Copy the gas_prices DataFrame
df = gas_price_years.copy()

# Select the relevant columns for EV registrations
columns = [f'EV_Registration_{year}' for year in range(2016, 2023)]

# Extract the last row from registrations that contains the total registrations for the year
# and add it as a new column in df
df['EV_Registrations'] = list(registrations[columns].iloc[-1])

# Calculate correlations
corr_gas_price = df['Price'].corr(df['EV_Registrations'])
corr_year = df['Year'].corr(df['EV_Registrations'])

# Print results with clear formatting
print(f'The correlation between gas prices and EV registrations: {corr_gas_price:.2f}')
print(f'The correlation between years and EV registrations: {corr_year:.2f}')

The correlation between gas prices and EV registrations: 0.86
The correlation between years and EV registrations: 0.93

### Correlation between EV Registrations and Gas Prices by State

In [10]:
# Copy the gas_price_states DataFrame
df = gas_price_states.copy()

# Merge the 'EV_Registration_2022' column from the registrations DataFrame
df = df.merge(registrations[['State', 'EV_Registration_2022']], on='State', how='left', suffixes=('', '_reg'))

# Calculate the correlation
corr_gas_price = df['Regular'].corr(df['EV_Registration_2022'])

# Print results with clear formatting
print(f'The correlation between the states gas prices and EV registrations in 2022: {corr_gas_price:.2f}')

The correlation between the states gas prices and EV registrations in 2022: 0.51

### Correlation between EV Registrations and Charging Stations opening by Year

In [11]:
# Initialize a list to store correlations
correlations = []

# Iterate through years from 2016 to 2022
for year in range(2016, 2023):
    # Filter charging stations for the current year
    station_counts = charging_stations[charging_stations['Open_Date'].dt.year == year]['State'].value_counts().reset_index()
    station_counts.columns = ['State', f'Stations_{year}']

    # Merge EV registrations and charging station counts
    merged_data = registrations.merge(station_counts, on='State', how='left')

    # Calculate the correlation and add it to the list
    correlation = merged_data[f'EV_Registration_{year}'].corr(merged_data[f'Stations_{year}'])
    correlations.append((year, correlation))

# Calculate the average correlation
average_corr = sum(correlation for _, correlation in correlations) / len(correlations)

# Print the results
for year, corr in correlations:
    print(f'The correlation between EV registrations and Charging Stations opening in {year}: {corr:.2f}')

print(f'The average correlation between EV registrations and Charging Stations opening is: {average_corr:.2f}')

The correlation between EV registrations and Charging Stations opening in 2016: 0.83
The correlation between EV registrations and Charging Stations opening in 2017: 0.76
The correlation between EV registrations and Charging Stations opening in 2018: 0.90
The correlation between EV registrations and Charging Stations opening in 2019: 0.77
The correlation between EV registrations and Charging Stations opening in 2020: 0.98
The correlation between EV registrations and Charging Stations opening in 2021: 0.98
The correlation between EV registrations and Charging Stations opening in 2022: 0.96
The average correlation between EV registrations and Charging Stations opening is: 0.88

### Identifying Chariging Stations in a 50 mi radius around National Parks

In [12]:
def haversine(lat1, lon1, lat2, lon2):
    # Radius of the Earth in miles
    radius = 3958.8

    # Convert latitude and longitude from degrees to radians
    lat1, lon1, lat2, lon2 = np.radians([lat1, lon1, lat2, lon2])

    # Haversine formula
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2)**2
    c = 2 * np.arcsin(np.sqrt(a))
    distance = radius * c

    return distance

# Create a boolean column in the charging stations DataFrame to check proximity to national parks
charging_stations['Within_50_Miles'] = False
charging_stations['National_Park'] = None
np_info['Charging_Stations'] = 0

# Iterate through national parks and charging stations
for park_index, national_park in np_info.iterrows():
    lat1, lon1 = national_park['Latitude'], national_park['Longitude']
    charging_stations['Distance'] = charging_stations.apply(
        lambda row: haversine(lat1, lon1, row['Latitude'], row['Longitude']), axis=1
    )
    nearby_stations = charging_stations[charging_stations['Distance'] <= 50]

    if not nearby_stations.empty:
        charging_stations.loc[nearby_stations.index, 'Within_50_Miles'] = True
        charging_stations.loc[nearby_stations.index, 'National_Park'] = national_park['Park_Name']
        np_info.at[park_index, 'Charging_Stations'] = len(nearby_stations)

# Drop the 'Distance' column
charging_stations.drop('Distance', axis=1, inplace=True)

### Correlation between Charging Stations in a 50 mi Radius and Visitors for National Parks

In [13]:
# Calculate and print the correlation
corr_visits_stations = np_info['Visits_Average'].corr(np_info['Charging_Stations'])
print(f'Correlation between Visits and Charging Stations in 2022: {corr_visits_stations:.2f}')

Correlation between Visits and Charging Stations in 2022: 0.19

### Charging Stations in a 50 mi Radius per 1000 Visitors

In [14]:
# Calculate stations in 50mi radius per 1000 visits and add it as a new column
np_info['Stations_per_1000_Visits'] = (np_info['Charging_Stations'] / np_info['Visits_2022']) * 1000

# Calculate and display statistics
min_stations_per_1000_visits = np_info['Stations_per_1000_Visits'].min()
max_stations_per_1000_visits = np_info['Stations_per_1000_Visits'].max()
std_stations_per_1000_visits = np_info['Stations_per_1000_Visits'].std()

# Display the results
print(f'Minimum Stations per 1000 Visits: {min_stations_per_1000_visits:.2f}')
print(f'Maximum Stations per 1000 Visits: {max_stations_per_1000_visits:.2f}')
print(f'Standard Deviation of Stations per 1000 Visits: {std_stations_per_1000_visits:.2f}')

Minimum Stations per 1000 Visits: 0.00
Maximum Stations per 1000 Visits: 1.46
Standard Deviation of Stations per 1000 Visits: 0.26